map_height=20
map_width=20
players=10
draw_delay=50
player_delay=125
initial_size=4

item_density=70
food_growth=3
haste_length=10

ortho_amount=6
diag_amount=3
knight_amount=0
two_amount=1
king_amount=0
rando_amount=0
tele_amount=0
rain_amount=0

ai_random_amount=0
ai_item_amount=5
ai_food_amount=4
ai_survive_amount=1
